.biao{
    width: 100%;
    height: 100px;
}
.biaonei{
    width: 1000px;
    height: 100px;
    background: white;
    margin: 0 auto;
}
.zuo{
    width: 180px;
    height: 100%;
    background: yellow;
    float: left;
}
.zuo img{
    width: 100%;
    height: 100%;
}
.you{
    width: 700px;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
}
.fenlei{
    display: block;
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: black;
    margin-top: 35px;
    text-align: center;
    line-height: 30px;
}
.fenlei:hover{
    background: #bbbbbb;
}
.fenlei:nth-child(4){
    background: #bbbbbb;
}
.banner{
    width: 100%;
    height: 300px;

}
.banner ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner li{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: 0.7s;
}
.banner li.active{
    z-index: 10;
    opacity: 1;
}
.b1{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    left:0;
}
.banner li img{
    width: 100%;
    height: 300px;
}
.jizhi{
    width: 400px;
    height: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
    z-index: 99;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    top:200px;
    left: 450px;
}
.gy{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}
.heng{
    width: 400px;
    display: inline-block;
    height: 2px;
    background: black;
    margin-top: 25px;
    float: left;
}
.he2{
    display: inline-block;
    width: 400px;
    height: 2px;
    background: black;
    margin-top: 25px;
    float: right;
}
.gyz{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.bank{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background: red;
}
.btop{
    width: 400px;
    height: 50px;
    padding-left: 600px;
    background: pink;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.biao1{
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    /*display: none;*/
}
.btnn{
    font-size:20px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.btou .active{
    color: #FF6700;
    border-bottom: 2px solid red;
}
.bom{
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.bbom{
    width: 1000px;
    height:550px;
    background: #bbb;
    box-sizing: border-box;
    padding: 30px;
    display: none;
}
.bom .active{
    display: block;
}
.bb1{
    width: 20%;
    height: 50%;
    overflow: hidden;
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
}
.bb1:nth-child(4){
    margin-right: 0;
}
.bb1:nth-child(8){
    margin-right: 0;
}
.bb1 img{
    display: block;
    width: 100%;
    height: 200px;
}
.yc{
    width: 100%;
    height: 45px;
    position: relative;
}
.yc:hover .ycz{
    display: none;
}
.ycz{
    width: 100%;
    height: 45px;
    background: skyblue;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    transition: 0.7s;
}
.ycb{
    width:188px;
    height: 245px;
    background: rgba(0,0,0,0.0);
    position: absolute;
    top: 0;
    font-size: 20px;
    text-align: center;
    line-height: 245px;
    /*opacity: 0;*/
    transition: 0.7s;
}
.ycb:hover{
    background: rgba(237,145,0,1);
    transform:translateY(-200px);
}
.dibu{
    width: 100%;
    height: 130px;
}
.dio,.dit{
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}